services:
  python-base-image:
    build:
      context: ../..
      dockerfile: docker/dockerfiles/python-base.Dockerfile
    image: mepipe.tail0e128.ts.net:5000/python-base:latest

  transcription-worker-image:
    build:
      context: ../..
      dockerfile: docker/dockerfiles/worker.Dockerfile
      args:
        REQUIREMENTS: docker/dockerfiles/requirements/transcription-requirements.txt
        WORKER: Pipes/Subtitles/worker/worker.py
    depends_on:
      python-base-image:
        condition: service_completed_successfully
    image: mepipe.tail0e128.ts.net:5000/transcription-worker:latest

  resolution-worker-image:
    build:
      context: ../..
      dockerfile: docker/dockerfiles/worker.Dockerfile
      args:
        REQUIREMENTS: docker/dockerfiles/requirements/resolution-requirements.txt
        WORKER: Pipes/Resolution/worker/worker.py
    depends_on:
      python-base-image:
        condition: service_completed_successfully
    image: mepipe.tail0e128.ts.net:5000/resolution-worker:latest

  pipe-manager-image:
    build:
      context: ../..
      dockerfile: docker/dockerfiles/manager.Dockerfile
    depends_on:
      python-base-image:
        condition: service_completed_successfully
    image: mepipe.tail0e128.ts.net:5000/pipe-manager:latest

