services:
  python-base-image:
    build:
      context: ../..
      dockerfile: docker/dockerfiles/python-base.Dockerfile
    image: python-base:latest

  transcription-worker-image:
    build:
      context: ../..
      dockerfile: docker/dockerfiles/transcriber.Dockerfile
      args:
        REQUIREMENTS: docker/dockerfiles/requirements/transcription-requirements.txt
        WORKER: Pipes/Subtitles/worker/worker.py
    depends_on:
      python-base-image:
        condition: service_completed_successfully
    image: transcription-worker:latest

  resolution-worker-image:
    build:
      context: ../..
      dockerfile: docker/dockerfiles/worker.Dockerfile
      args:
        REQUIREMENTS: docker/dockerfiles/requirements/resolution-requirements.txt
        WORKER: Pipes/Resolution/worker/worker.py
    depends_on:
      python-base-image:
        condition: service_completed_successfully
    image: resolution-worker:latest

  pipe-manager-image:
    build:
      context: ../..
      dockerfile: docker/dockerfiles/manager.Dockerfile
    depends_on:
      python-base-image:
        condition: service_completed_successfully
    image: pipe-manager:latest
