@import './base.css';

#app {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #3d5a80;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: #98c1d9;
  }
}

body {
  display: flex;
  place-items: center;
}
