@import './base.css';

#app {
    width: 100%;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

a,
.green {
    text-decoration: none;
    color: #3D5A80;
    transition: 0.4s;
    padding: 3px;
}

@media (hover: hover) {
    a:hover {
        background-color: #98C1D9;
    }
}

body {
    width: 100%;
    display: flex;
    place-items: center;
}
