@import './base.css';

#app {
    max-width: 1600px;
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
}

a,
.green {
    text-decoration: none;
    color: #3D5A80;
    transition: 0.4s;
    padding: 3px;
}

@media (hover: hover) {
    a:hover {
        background-color: #98C1D9;
    }
}

body {
    display: flex;
  place-items: center;
}
